<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>管理者メニュー</title>
</head>


<body>

<h1>管理者メニュー</h1>


<nav>

    <ul>

        <li>
            <a href="/admin/clubs">
                サークル管理
            </a>
        </li>


        <li>
            <a href="/admin/keys">
                鍵管理
            </a>
        </li>


        <li>
            <a href="/admin/members">
                メンバー管理
            </a>
        </li>


        <li>
            <a href="/admin/borrow-records">
                貸出履歴
            </a>
        </li>


        <li>
            <a href="/admin/reports">
                活動報告
            </a>
        </li>

    </ul>

</nav>


</body>

</html>