<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>貸出履歴管理</title>
</head>

<body class="px-12">

    <a href="/admin" class="py-3 block">
    ← 管理者メニューへ戻る
    </a>

    <header class="flex justify-between items-center mb-8">
        <h1 class="text-4xl font-bold text-gray-800">貸出履歴管理</h1>
    </header>
    
<hr>

<h2 class="text-3xl my-4">貸出一覧</h2>
<div class="border border-gray-300 rounded-xl">
    <table class="w-full text-left border-collapse">
        <thead class="sticky top^0 bg-gray-100">
            <tr>
                <th class="px-4 py-3 border-b border-gray-300">ID</th>
                <th class="px-4 py-3 border-b border-gray-300">サークル</th>
                <th class="px-4 py-3 border-b border-gray-300">学生ID</th>
                <th class="px-4 py-3 border-b border-gray-300">名前</th>
                <th class="px-4 py-3 border-b border-gray-300">鍵番号</th>
                <th class="px-4 py-3 border-b border-gray-300">貸出日時</th>
                <th class="px-4 py-3 border-b border-gray-300">返却日時</th>
                <th class="px-4 py-3 border-b border-gray-300">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
        
            <tr class="hover:bg-gray-50">
            
            <td class="px-4 py-3 border-b border-gray-200">
            {{ record.id }}
            </td>
            
            <td class="px-4 py-3 border-b border-gray-200">
            {{ record.club_name }}
            </td>
            
            <td class="px-4 py-3 border-b border-gray-200">
            {{ record.student_id }}
            </td>
            
            <td class="px-4 py-3 border-b border-gray-200">
            {{ record.student_name }}
            </td>
        
            <td class="px-4 py-3 border-b border-gray-200">
            {{ record.key_number }}
            </td>
            
            <td class="px-4 py-3 border-b border-gray-200">
            {{ record.borrowed_at }}
            </td>
            
            <td class="px-4 py-3 border-b border-gray-200">
            
            {% if record.returned_at %}
            {{ record.returned_at }}
            
            {% else %}
            貸出中
            {% endif %}
            
            </td>
            
            
            <td class="px-4 py-3 border-b border-gray-200">
            
            {% if record.returned_at == None %}
            
            <button onclick="returnKey({{ record.id }})" class="inline-block px-4 py-1.5 bg-blue-600 text-white text-sm rounded-lg hover:bg-blue-700">
            返却
            </button>
            
            {% else %}
            
            完了
            
            {% endif %}
            
            </td>
            
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

async function returnKey(id){

    if(!confirm("返却処理を行いますか？")){
        return;
    }

    await fetch(
        `/api/admin/borrow/${id}`,
        {
            method:"PATCH",
            headers:{
                "Content-Type":"application/json"
            }
        }
    );

    location.reload();

}

</script>

</body>

</html>