<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Document</title>
</head>
<body class="w-screen h-screen">
  <header class="flex fixed top-0 w-full bg-white items-center h-16">
    <h1 class="ml-6 font-bold text-2xl">鍵貸出システム</h1>
  </header>

  <main class="w-full h-full px-30 py-10 pt-26 bg-gray-200">
    <input type="text" class="border" />
  </main>
  <small class="absolute bottom-2 left-2">&copy; 2026 Hokkaido Information University</small>
</body>
</html>